/* CSS Reset */

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
    display: block;
}
body {
    line-height: 1;
}
ol, ul {
    list-style: none;
}
blockquote, q {
    quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
    content: '';
    content: none;
}
table {
    border-collapse: collapse;
    border-spacing: 0;
}




/* Style CSS */

body {
    font-family: "Roboto", sans-serif;

}


/* Navbar */
.navbar {
    background-color: rgb(54, 86, 102);
    height: 60px;
    display: flex; 
    justify-content: space-between; 
    align-items: center; 
    position: sticky;
    width: 100%;
    top: 0;
    z-index: 99999;
    padding: 0 40px; 
    box-sizing: border-box; 
}

.navbar ul{
    display: flex;
    gap: 40px; 
}

.navbar ul li a {
    font-size: 14px;
    text-decoration: none;
    color: rgb(218, 213, 194);
    transition: color 0.3s;
}

.navbar ul li a:hover {
    color: #fff;
}

.logo {
    font-family: "Courgette", cursive;
    color: rgb(214, 177, 53);
    letter-spacing: 2px;
    font-weight: bold;
    font-size: 18px;
}

.menu-toggle {
    display: none; 
}


/* Home */
.home {
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
    min-height: 90vh;
    padding: 0 5%;
    background-image: radial-gradient(at right top, #f3eeb7 0%, #ffffff 50%);
    /* background-image: radial-gradient(circle at right top, #f3eeb7 0%, transparent 40%), radial-gradient(circle at left bottom, #f3eeb7 0%, transparent 40%); */
    font-family: "Montserrat", sans-serif;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.08); 
    z-index: 1; 
    position: relative;
}

.welcome { 
    text-align: center; 
}

.welcome h1 { 
    font-size: 3em; 
    font-weight: bold; 
    color: rgb(54, 86, 102);
    margin-bottom: 0.2em; 
}

.welcome h3 { 
    font-size: 1.3em; 
    font-weight: 500; 
    color: #555; 
    margin-top: 0; 
    margin-bottom: 1em; 
}

.welcome p { 
    font-family: "Roboto", sans-serif; 
    font-size: 1em; 
    color: #555; 
    line-height: 1.6; 
}

.pt-btn a { 
    text-decoration: none; 
    color: #333; 
}

.pt-btn {
    background-color: rgb(229, 189, 59);
    padding: 12px 25px;
    border: none;
    margin-top: 20px;
    border-radius: 15px;
    font-size: 1em;
    font-weight: 600; 
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: background-color 0.3s ease, transform 0.2s ease;
}

.pt-btn:hover {
    background-color: rgb(232, 198, 87); 
    transform: translateY(-1px); 
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.2); 
}

.cv-btn a { 
    text-decoration: none; 
    color: #fff; 
}

.cv-btn {
    background-color: rgb(54, 86, 102);
    padding: 12px 25px;
    border: none;
    margin-top: 20px;
    border-radius: 15px;
    font-size: 1em;
    font-weight: 600; 
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: background-color 0.3s ease, transform 0.2s ease;
}

.cv-btn:hover {
    background-color: rgb(76, 112, 131);
    transform: translateY(-1px); 
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.2); 
}

.profil-1 { 
    text-align: center; 
}

.profil-1 img {
    max-width: 45%;
    height: auto;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.15);
    border: 2px solid #fff;
    border-radius: 10px;
    object-fit: contain;
}


/* About */
.about {
    display: grid;
    grid-template-columns: 1fr 1fr;
    min-height: 63vh;
    align-items: center;
    padding: 100px 10%;
    background-color: #f4f4f9;
}

.about img {
    max-width: 40%;
    height: auto;
    display: block; 
    border-radius: 10px; 
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.1);
    object-fit: cover;
}

.my-profile {
    text-align: justify; 
}

.my-profile h1 {
    font-family: "Courgette", cursive;
    font-size: 2.5em;
    color: #333; 
    margin-bottom: 0.5em;
    display: inline-block; 
    padding-bottom: 5px;
}

.my-profile h1::after { 
    content: ''; 
    display: block; 
    width: 60%; 
    height: 4px; 
    background-color: rgb(199, 163, 47); 
    margin: 8px auto 0; 
    border-radius: 2px; 
}

.my-profile p { 
    font-size: 1.1em; 
    color: #555; 
    line-height: 1.6; 
}

.my-profile p span { 
    font-weight: bold; 
}

/* Portofolio */
.portofolio { 
    padding: 100px 20px; 
    background-color: #ffffff; 
    text-align: center; 
    box-shadow: 0 -5px 15px rgba(0, 0, 0, 0.08); 
}

.portofolio h1 { 
    font-family: "Courgette", cursive; 
    font-size: 2.5em; 
    color: #333; 
    margin-bottom: 50px; 
    position: relative; 
    display: inline-block; 
}

.portofolio h1::after { 
    content: ''; 
    display: block; 
    width: 60%; 
    height: 4px; 
    background-color: rgb(199, 163, 47); 
    margin: 8px auto 0; 
    border-radius: 2px; 
}

.portofolio .content { 
    display: grid; 
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr)); 
    gap: 30px; 
    max-width: 1200px; 
    margin: 0 auto; }

.portofolio .card { 
    background-color: #fcfcfa; 
    border-radius: 10px; 
    padding: 20px; 
    text-align: center; 
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.05); 
    transition: transform 0.3s ease, box-shadow 0.3s ease; 
    overflow: hidden; 
}

.portofolio .card:hover { 
    transform: translateY(-5px); 
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.1); 
}

.portofolio .card img { 
    width: 100%; 
    height: auto; 
    max-height: 200px; 
    object-fit: cover; 
    border-radius: 8px; 
    margin-bottom: 15px; 
    border-bottom: 2px solid rgb(54, 86, 102); 
}

.portofolio .card h2 { 
    font-family: "Courgette", cursive; 
    font-size: 1.5em; 
    font-weight: bold; 
    color: rgb(54, 86, 102); 
    margin: 0 0 10px 0; 
}

.portofolio .card p { 
    font-size: 0.95em; 
    color: #666; 
    line-height: 1.5; 
    margin-bottom: 0; 
    text-align: justify; 
}

.sertifikat { 
    padding: 100px 20px; 
    background-color: #ffffff; 
    text-align: center; 
    box-shadow: 0 -5px 15px rgba(0, 0, 0, 0.08); 
}

.sertifikat h1 { 
    font-family: "Courgette", cursive; 
    font-size: 2.5em; 
    color: #333; 
    margin-bottom: 50px; 
    position: relative; 
    display: inline-block; 
}

.sertifikat h1::after { 
    content: ''; 
    display: block; 
    width: 60%; 
    height: 4px; 
    background-color: rgb(199, 163, 47); 
    margin: 8px auto 0; 
    border-radius: 2px; 
}


.sertifikat .content { 
    display: grid; 
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr)); 
    gap: 30px; 
    max-width: 1200px; 
    margin: 0 auto; 
}

.sertifikat .card { 
    background-color: #fcfcfa; 
    border-radius: 10px; 
    padding: 20px; 
    text-align: center; 
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.05); 
    transition: transform 0.3s ease, box-shadow 0.3s ease; 
    overflow: hidden; 
}

.sertifikat .card:hover { 
    transform: translateY(-5px); 
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.1); 
}

.sertifikat .card img { 
    width: 100%; 
    height: auto; 
    max-height: 200px; 
    object-fit: cover; 
    border-radius: 8px; 
    margin-bottom: 15px; 
    border-bottom: 2px solid rgb(54, 86, 102); ;
}

.sertifikat .card h2 { 
    font-family: "Courgette", cursive; 
    font-size: 1.5em; 
    font-weight: bold; 
    color: rgb(54, 86, 102); 
    margin: 0 0 10px 0; 
}


/* Skills */
.skills { 
    padding: 100px 20px; 
    background-color: #f4f4f9; 
    text-align: center; 
}

.skills h1 { 
    font-family: "Courgette", cursive; 
    font-size: 2.5em; 
    color: #333; 
    margin-bottom: 20px; 
}

.skills h1::after { 
    content: ''; 
    display: block; 
    width: 100px; 
    height: 4px; 
    background-color: rgb(199, 163, 47); 
    margin: 8px auto 60px; 
    border-radius: 2px; 
}

.skills h2 { 
    font-size: 1.8em; 
    font-weight: bold; 
    color: rgb(54, 86, 102); 
    margin-bottom: 40px; 
    display: inline-block; 
    padding-bottom: 5px; 
}

.skills-grid { 
    display: grid; 
    grid-template-columns: repeat(auto-fit, minmax(120px, 1fr)); 
    gap: 30px; 
    max-width: 1000px; 
    margin: 0 auto 50px; 
}

.skill-item { 
    padding: 15px; 
    background-color: #ffffff; 
    border-radius: 10px; 
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.05); 
    transition: transform 0.3s ease; 
}

.skill-item:hover { 
    transform: translateY(5px); 
    box-shadow: 0 6px 15px rgba(0, 0, 0, 0.1); 
}

.skill-item img { 
    width: 60px; 
    height: 60px; 
    object-fit: contain; 
    margin-bottom: 10px; 
}

.skill-item h3 { 
    font-size: 1.1em; 
    color: #333; 
    font-weight: 600; 
}

.skills-list { 
    display: flex; 
    justify-content: center; 
    flex-wrap: wrap; 
    gap: 30px; 
    margin: 0 auto; 
}

.soft-item { 
    padding: 15px; 
    background-color: #ffffff; 
    border-radius: 10px; 
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.05); 
    transition: transform 0.3s ease; 
    display: flex; 
    flex-direction: column; 
    align-items: center; 
    width: 150px;
}

.soft-item:hover { 
    transform: translateY(5px); 
    box-shadow: 0 6px 15px rgba(0, 0, 0, 0.1); 
}


.soft-item i { 
    color: #333; 
    margin-bottom: 15px; 
    transition: color 0.3s ease; 
}

.soft-item:hover i { 
    color: #000; 
}

.soft-item h3 { 
    font-size: 1.1em; 
    color: #333; 
    font-weight: 600; 
}


/* Footer */
.main-footer {
    background-color: rgb(23, 37, 44); 
    color: rgb(218, 213, 194); 
    padding: 30px 20px;
    text-align: center;
}

.social-icons {
    margin-bottom: 20px;
}

.social-icons a {
    color: rgb(218, 213, 194);
    font-size: 24px; 
    margin: 0 15px; 
    transition: color 0.3s ease;
}

.social-icons a:hover {
    color: #4CAF50; 
}

.copyright {
    font-size: 0.9em;
    margin: 0;
}




@media screen and (max-width: 768px) {

    /* Style Hamburger */
    .menu-toggle {
        display: flex; 
        flex-direction: column;
        justify-content: space-between;
        width: 30px; 
        height: 21px;
        position: relative;
        z-index: 10000; 
        cursor: pointer;
    }

    .menu-toggle span {
        display: block;
        width: 100%;
        height: 3px;
        background-color: rgb(218, 213, 194);
        border-radius: 3px;
        transition: all 0.5s ease-in-out;
    }

    .menu-toggle input {
        position: absolute;
        width: 100%; 
        height: 100%;
        opacity: 0;
        cursor: pointer;
        z-index: 2;
    }

    /* Animasi ikon menjadi X  */
    .menu-toggle input:checked ~ span:nth-child(2) { 
        transform: translateY(9px) rotate(45deg); 
        transform-origin: center;
        width: 30px; 
    }
    .menu-toggle input:checked ~ span:nth-child(3) { 
        opacity: 0; 
        transform: scale(0);
    }
    .menu-toggle input:checked ~ span:nth-child(4) { 
        transform: translateY(-9px) rotate(-45deg); 
        transform-origin: center;
        width: 30px; 
    }


    /* Navbar */
    .logo { 
        margin-left: 0; 
        font-size: 18px; 
    }

    .navbar {
        display: flex; 
        justify-content: space-between;
        padding: 0 15px; 
        width: 100%; 
        box-sizing: border-box; 
        height: 65zzx; 
    }

    .navbar ul {
        display: flex; 
        flex-direction: column;
        position: fixed; 
        gap: 10px;
        top: 50px; 
        left: auto; 
        width: 170px; 
        height: auto; 
        background-color: rgb(54, 86, 102); 
        border-radius: 8px; 
        box-shadow: 0 4px 12px rgba(0, 0, 0, 0.3); 
        z-index: 999;
        padding: 5px 0; 
        right: -250px; 
        transition: right 0.3s ease-out; 
    }

    .navbar ul.open {
        right: 15px; 
    }

    .navbar ul li {
        width: 100%;
        text-align: left; 
        padding: 10px 20px; 
        border-bottom: none; 
        transition: background-color 0.2s;
        box-sizing: border-box;
    }
    
    .navbar ul li:hover {
        background-color: rgba(255, 255, 255, 0.1); 
    }
    
    /* Home */
    .home {
        grid-template-columns: 1fr;
        padding: 90px 5%; 
        min-height: auto; 
        box-sizing: border-box; 
    }

    .welcome {
        order: 2; 
        padding-top: 20px; 
    }

    .profil-1 {
        order: 1; 
        padding-bottom: 20px; 
    }

    .profil-1 img {
        max-width: 40%; 
    }

    /* About */
    .about {
        grid-template-columns: 1fr;
        padding: 100px 5%; 
        box-sizing: border-box; 
    }

    .welcome h1 { 
        font-size: 2em; 
    }
    
    .welcome h3 { 
        font-size: 0.9em; 
    }
    
    .welcome p { 
        font-size: 0.8em; 
    }
    
    .welcome button { 
        padding: 10px 20px; 
        font-size: 0.9em; 
    }
    
    .about img { 
        max-width: 40%; 
        margin: 0 auto 30px; 
    }
    
    .my-profile { 
        text-align: center; 

    }
    
    .my-profile h1 { 
        font-size: 2em; 
        margin-bottom: 1em; 
        text-align: center; 
    }
    
    .my-profile p { 
        font-size: 1em; 
        text-align: justify; 
    }
    
    /* Portofolio */
    .portofolio, .sertifikat { 
        padding: 100px 15px; 
        box-sizing: border-box; 
    }

    .portofolio h1, .sertifikat h1 { 
        font-size: 2em; 
        margin-bottom: 30px; 
    }
    
    .portofolio .content, .sertifikat .content { 
        grid-template-columns: 1fr; 
        gap: 20px; 
    }
    
    .portofolio .card img, .sertifikat .card img { 
        max-height: 150px; 
    }
    
    .portofolio .card h2, .sertifikat .card h2 { 
        font-size: 1.3em; 
    }
    
    /* Skills */
    .skills { 
        padding: 100px 15px; 
        box-sizing: border-box; 
    }
    
    .skills h1 { 
        font-size: 2em; 
        margin-bottom: 15px; 
    }
    
    .skills h1::after { 
        margin: 8px auto 30px; 
    }
    
    .skills h2 { 
        font-size: 1.5em; 
        margin-bottom: 20px; 
    }
    
    .skills-grid { 
        grid-template-columns: repeat(auto-fit, minmax(100px, 1fr)); 
        gap: 20px; 
        margin-bottom: 30px; 
    }
    
    .skill-item img { 
        width: 50px; 
        height: 50px; 
    }
    
    .skill-item h3 { 
        font-size: 1em; 
    }
    
    .skills-list { 
        grid-template-columns: repeat(auto-fit, minmax(100px, 1fr)); 
        gap: 20px; 
        margin-bottom: 30px; 
    }

    .soft-skills {
        margin-top: 70px;
    }

    /* Footer */
    .main-footer {
        padding: 20px 10px;
    }

    .social-icons a {
        font-size: 20px; 
        margin: 0 10px;
    }
}